In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('./data/FBPS-ValidationData.csv', delimiter= '\t')

In [30]:
pd.set_option('display.max_columns', None)

In [31]:
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,age,engnat,gender,birthpos,birthn,submittime,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,EST1,EST2,EST3,EST4,EST5,EST6,EST7,EST8,EST9,EST10,AGR1,AGR2,AGR3,AGR4,AGR5,AGR6,AGR7,AGR8,AGR9,AGR10,CSN1,CSN2,CSN3,CSN4,CSN5,CSN6,CSN7,CSN8,CSN9,CSN10,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10,country,dateload,source,screensize,introelapse,testelapse,endelapse
0,4,4,4,5,5,4,3,4,4,5,1,4,1,1,1,3,1,5,1,2,1,5,3,1,4,1,30,1,2,2,2,2019-04-12 13:33:17,3,4,3,3,2,3,3,4,2,4,4,2,4,2,3,2,4,2,2,3,1,4,1,5,4,4,2,4,5,4,3,5,4,3,1,5,2,2,3,2,4,3,5,4,2,1,4,3,4,3,DE,2019-04-12 10:52:18,1,2,3,6592,10
1,5,5,5,4,2,5,5,5,5,5,5,4,1,3,4,3,3,3,2,3,1,2,5,4,2,3,19,2,2,1,3,2019-04-12 11:06:20,1,5,3,4,1,4,1,5,3,5,3,4,4,3,3,2,1,2,1,4,2,4,1,4,1,4,1,5,5,5,2,5,5,4,4,4,1,2,1,1,5,1,4,1,4,1,5,5,5,5,BE,2019-04-12 10:53:05,0,1,4,558,16
2,2,1,2,4,4,1,4,4,4,5,4,2,1,1,1,5,1,1,2,4,5,4,4,4,2,2,21,2,3,0,0,2019-04-12 11:03:28,1,4,4,4,2,2,2,4,2,5,4,2,5,2,4,3,4,4,2,2,1,5,1,5,1,5,1,4,5,4,1,5,4,2,1,5,4,2,1,2,4,1,4,1,4,1,4,4,4,3,IT,2019-04-12 10:53:45,2,2,15,415,5
3,2,1,3,2,4,3,3,3,3,5,3,4,2,3,4,3,1,1,3,2,3,4,3,2,4,4,21,1,2,1,2,2019-04-12 11:02:48,3,4,3,4,2,3,2,5,1,5,5,2,5,2,3,4,4,4,5,4,1,5,3,5,2,4,2,5,4,3,3,5,4,4,1,5,3,1,3,3,3,3,5,3,4,5,3,3,5,5,US,2019-04-12 10:56:25,0,2,9,203,7
4,2,1,4,5,2,5,4,4,2,5,1,2,4,1,5,3,1,5,5,5,4,4,4,4,2,1,19,1,2,1,3,2019-04-12 11:04:47,1,4,2,5,1,2,1,5,1,5,5,1,5,1,5,4,2,2,4,5,4,2,4,2,4,3,4,3,2,2,3,5,5,5,2,5,3,3,4,4,4,5,1,5,4,4,4,3,5,3,US,2019-04-12 10:56:51,0,2,4,263,15

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41841 entries, 0 to 41840
Data columns (total 89 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Q1           41841 non-null  int64
 1   Q2           41841 non-null  int64
 2   Q3           41841 non-null  int64
 3   Q4           41841 non-null  int64
 4   Q5           41841 non-null  int64
 5   Q6           41841 non-null  int64
 6   Q7           41841 non-null  int64
 7   Q8           41841 non-null  int64
 8   Q9           41841 non-null  int64
 9   Q10          41841 non-null  int64
 10  Q11          41841 non-null  int64
 11  Q12          41841 non-null  int64
 12  Q13          41841 non-null  int64
 13  Q14          41841 non-null  int64
 14  Q15          41841 non-null  int64
 15  Q16          41841 non-null  int64
 16  Q17          41841 non-null  int64
 17  Q18          41841 non-null  int64
 18  Q19          41841 non-null  int64
 19  Q20          41841 non-null  int64
 20  Q21          41841 non-null  int64
 21  Q22          41841 non-null  int64
 22  Q23          41841 non-null  int64
 23  Q24          41841 non-null  int64
 24  Q25          41841 non-null  int64
 25  Q26          41841 non-null  int64
 26  age          41841 non-null  int64
 27  engnat       41841 non-null  int64
 28  gender       41841 non-null  int64
 29  birthpos     41841 non-null  int64
 30  birthn       41841 non-null  int64
 31  submittime   41841 non-null  object
 32  EXT1         41841 non-null  int64
 33  EXT2         41841 non-null  int64
 34  EXT3         41841 non-null  int64
 35  EXT4         41841 non-null  int64
 36  EXT5         41841 non-null  int64
 37  EXT6         41841 non-null  int64
 38  EXT7         41841 non-null  int64
 39  EXT8         41841 non-null  int64
 40  EXT9         41841 non-null  int64
 41  EXT10        41841 non-null  int64
 42  EST1         41841 non-null  int64
 43  EST2         41841 non-null  int64
 44  EST3         41841 non-null  int64
 45  EST4         41841 non-null  int64
 46  EST5         41841 non-null  int64
 47  EST6         41841 non-null  int64
 48  EST7         41841 non-null  int64
 49  EST8         41841 non-null  int64
 50  EST9         41841 non-null  int64
 51  EST10        41841 non-null  int64
 52  AGR1         41841 non-null  int64
 53  AGR2         41841 non-null  int64
 54  AGR3         41841 non-null  int64
 55  AGR4         41841 non-null  int64
 56  AGR5         41841 non-null  int64
 57  AGR6         41841 non-null  int64
 58  AGR7         41841 non-null  int64
 59  AGR8         41841 non-null  int64
 60  AGR9         41841 non-null  int64
 61  AGR10        41841 non-null  int64
 62  CSN1         41841 non-null  int64
 63  CSN2         41841 non-null  int64
 64  CSN3         41841 non-null  int64
 65  CSN4         41841 non-null  int64
 66  CSN5         41841 non-null  int64
 67  CSN6         41841 non-null  int64
 68  CSN7         41841 non-null  int64
 69  CSN8         41841 non-null  int64
 70  CSN9         41841 non-null  int64
 71  CSN10        41841 non-null  int64
 72  OPN1         41841 non-null  int64
 73  OPN2         41841 non-null  int64
 74  OPN3         41841 non-null  int64
 75  OPN4         41841 non-null  int64
 76  OPN5         41841 non-null  int64
 77  OPN6         41841 non-null  int64
 78  OPN7         41841 non-null  int64
 79  OPN8         41841 non-null  int64
 80  OPN9         41841 non-null  int64
 81  OPN10        41841 non-null  int64
 82  country      41837 non-null  object
 83  dateload     41841 non-null  object
 84  source       41841 non-null  int64
 85  screensize   41841 non-null  int64
 86  introelapse  41841 non-null  int64
 87  testelapse   41841 non-null  int64
 88  endelapse    41841 non-null  int64
dtypes: int64(86), object(3)
memory usage: 28.4+ MB